* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	margin: 0;
	font-family: "Hiragino Kaku Gothic ProN";
}

header {
	height: 56px;
	background-color: #8bcf6b;
	/* border-bottom: 1px solid #2473d3; */
}

.container {
	width: 900px;
	padding: 0 15px;
	margin: 0 auto;
}