* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

html {
	font-size: 300%;
	font-family: 'Hiragino Sans', sans-serif;
	line-height: 1.7;
	letter-spacing: 1px;
}

body {
	margin: 0;
	background-color: #f6faff;
	color: #6c7686;
}

header {
	/* height: 56px; */
	padding: 15px;
	background-color: #7bc6e4;
	/* border-bottom: 1px solid #2473d3; */
}

.header_logo {
	padding: 5px;
}

ul, li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.container {
	width: 900px;
	padding: 0 15px;
	margin: 0 auto;
}

.inline-form {
	display: inline;
}
